{% extends 'base.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block extra_css %}
<!-- Page CSS -->
<!-- Page -->
<link rel="stylesheet" href="{% static 'vendor/css/pages/page-auth.css' %}" />
{% endblock %}

{% block content_login %}
<div class="container-xxl">
  <div class="authentication-wrapper authentication-basic container-p-y">
    <div class="authentication-inner">
      <!-- Register -->
      <div class="card">
        <div class="card-body">
          <!-- Logo -->
          <div class="app-brand justify-content-center">
            <span href="index.html" class="app-brand-link gap-2">
              <span class="app-brand-text demo text-body fw-bold">risk m8t</span>
            </span>
          </div>
          <!-- /Logo -->
          <h4 class="mb-2">Welcome to risk m8t portal! 👋</h4>
          <p class="mb-4">Please sign-in to your account</p>

          <form id="formAuthentication" class="mb-3" action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <div class="mb-3">
              <label for="email" class="form-label">Email or Username</label>
              <input
                type="text"
                class="form-control"
                id="{{ form.username.id_for_label }}"
                name="{{ form.username.html_name }}"
                placeholder="Enter your email or username"
                autofocus />
            </div>
            <div class="mb-3 form-password-toggle">
              <div class="d-flex justify-content-between">
                <label class="form-label" for="password">Password</label>
              </div>
              <div class="input-group input-group-merge">
                <input
                  type="password"
                  class="form-control"
                  id="{{ form.password.id_for_label }}"
                  name="{{ form.password.html_name }}"
                  placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                  aria-describedby="password" />
                <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
              </div>
            </div>
            <div class="mb-3">
              <input type="hidden" name="next" value="{{ next }}">
              <button class="btn btn-primary d-grid w-100" type="submit">Sign in</button>
              {% if form.errors %}
                <div class="alert alert-danger mt-3" role="alert">
                  Your username and password didn't match. Please try again.
                </div>
              {% endif %}
            </div>
          </form>

<!--          <p class="text-center">-->
<!--            <span>New on our platform?</span>-->
<!--            <a href="#">-->
<!--              <span>Create an account</span>-->
<!--            </a>-->
<!--          </p>-->
        </div>
      </div>
      <!-- /Register -->
    </div>
  </div>
</div>
{% endblock %}
