<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
  <div class="app-brand demo">
    <a href="/" class="app-brand-link">
      <span class="app-brand-text demo menu-text fw-bold ms-2">risk m8t</span>
    </a>
    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
      <i class="bx bx-chevron-left bx-sm align-middle"></i>
    </a>
  </div>

  <div class="menu-inner-shadow"></div>

  <ul class="menu-inner py-1">
    <!-- Apps -->
    <li class="menu-item {% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}">
      <a
        href="{% url 'risk:dashboard' %}"
        class="menu-link">
        <i class="menu-icon tf-icons bx bx-home-circle"></i>
        <div data-i18n="Dashboard">Dashboard</div>
      </a>
    </li>
    <li class="menu-item {% if request.resolver_match.url_name == 'risk_scenario' %}active{% endif %}">
      <a
        href="{% url 'risk:risk_scenario' %}"
        class="menu-link">
        <i class="menu-icon tf-icons bx bx-analyse"></i>
        <div data-i18n="Risk Scenario">Risk Scenario</div>
      </a>
    </li>
    <li class="menu-item {% if request.resolver_match.url_name == 'risk_table' %}active{% endif %}">
      <a
        href="{% url 'risk:risk_table' %}"
        class="menu-link">
        <i class="menu-icon tf-icons bx bx-table"></i>
        <div data-i18n="Risk Table">Risk Table</div>
      </a>
    </li>
  </ul>
</aside>
